---
import Prose from "@/components/Prose.astro";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts
    .filter((post) => post.data.published)
    .map((post) => ({
      params: { slug: post.data.slug },
      props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout
  title={`${post.data.title} - corscheid.dev`}
  description={`Blog Post: ${post.data.title} - ${post.data.description} - corscheid.dev - portfolio site of Corey Scheideman, web developer`}
>
  <article class="post mx-auto max-w-[65ch] p-4">
    <Prose>
      <Image
        src={post.data.image.src}
        alt={post.data.image.alt}
        width={900}
        height={400}
        class="rounded"
        loading="eager"
      />
      <h1 class="font-mono text-4xl text-green-400">{post.data.title}</h1>
      <Content />
    </Prose>
  </article>
</Layout>
