---
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.data.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout
  title={`${post.data.title} - corscheid.dev`}
  description={`Blog Post: ${post.data.title} - ${post.data.description} - corscheid.dev - portfolio site of Corey Scheideman, web developer`}
>
  <article class="post flex flex-col gap-4 p-4 md:px-24 lg:px-48 xl:px-72">
    <div class="flex flex-col items-center gap-4">
      <h1 class="text-2xl">{post.data.title}</h1>
      <Image src={post.data.image.src} alt={post.data.image.alt} width={900} height={400} class="rounded" />
    </div>
    <Content />
  </article>
</Layout>

<style is:inline>
  article.post pre.astro-code {
    padding: 1rem;
    border-radius: 0.5rem;
  }
  article.post h2 {
    font-size: 1.25rem;
  }
  article.post h2 + ul,
  article.post ul ul {
    padding-left: 1rem;
  }
  article.post h2 + ul li a,
  article.post ul + ul li a {
    color: hsl(120, 100%, 45%);
  }
</style>
