---
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout
  title="Projects - corscheid.dev"
  heading="Projects"
  description="Projects directory - corscheid.dev - portfolio site of Corey Scheideman, web developer"
>
  <article class="min-h-dvh p-4">
    <div class="flex flex-col items-center gap-4 md:flex-row md:flex-wrap md:items-center md:justify-center">
      {
        projects.map((project, i) => (
          <Card
            imgSrc={project.data.image_url}
            imgAlt={project.data.name}
            imgPriority={i < 6}
            title={project.data.name}
            url={project.data.html_url}
            description={project.data.description}
          />
        ))
      }
    </div>
  </article>
</Layout>
