---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

const projects = await getCollection("projects");
---

<Layout
  title="Projects - corscheid.dev"
  heading="Projects"
  description="Projects directory - corscheid.dev - portfolio site of Corey Scheideman, web developer"
>
  <article class="min-h-dvh p-4">
    <div class="flex flex-col items-center gap-4 md:flex-row md:flex-wrap md:items-center md:justify-center">
      {
        projects.map((project, i) => (
          <Card
            imgSrc={project.data.image_url}
            imgAlt={project.data.name}
            imgPriority={i < 6}
            title={project.data.name}
            url={project.data.html_url}
            description={project.data.description}
            _class="project-card"
            dataId={project.data.html_url}
          />
        ))
      }
    </div>
  </article>
</Layout>

<script>
  (function () {
    const projectCards = document.getElementsByClassName("project-card");
    if (!projectCards) return;
    for (const card of projectCards) {
      card.addEventListener("click", function () {
        const url = card.getAttribute("data-id");
        if (!url) return;
        window.location.href = url;
      });
    }
  })();
</script>
