---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const projects = await getCollection("projects");
---

<Layout
  title="Projects - corscheid.dev"
  heading="Projects"
  description="Projects directory - corscheid.dev - portfolio site of Corey Scheideman, web developer"
>
  <article class="min-h-dvh p-4">
    <div class="flex flex-col flex-wrap items-center gap-4 lg:flex-row lg:justify-center">
      {
        projects.map((project, i) => (
          <div class="flex h-96 w-full flex-col rounded-2xl bg-[hsl(0,0%,15%)] pb-4 sm:w-96" data-id={project.data.id}>
            <Image
              src={project.data.image_url}
              alt={project.data.name}
              width={400}
              height={300}
              style="height: 12rem; width: 100%; border-radius: 1rem; border-bottom-left-radius: 0; border-bottom-right-radius: 0;"
              priority={i < 6}
              loading={i < 6 ? "eager" : "lazy"}
            />
            <div class="flex flex-col gap-4 p-4">
              <div class="flex flex-col gap-2">
                <h2 class="p-0 text-2xl text-[hsl(120,100%,45%)]">{project.data.name}</h2>
              </div>
              <p>{project.data.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </article>
</Layout>
